@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-SemiBold.ttf") format("tff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-SemiBold.ttf") format("tff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf") format("tff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Medium.ttf") format("tff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Bold.ttf") format("tff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-ExtraBold.ttf") format("tff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
